# Entorno virtual
env/
venv/

# Archivos temporales y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs y temporales
*.log
tmp/

# Builds y distribuciones (PyInstaller, setup)
build/
dist/

# Archivos de reporte o salida temporal
report.txt
report/

# Configuración local (no necesaria en GitHub)
config/